html, body {
	width: 100%;
	padding: 0px 0px;
	margin: 0px 0px;
}
article {
	border: 1px solid black;
	width: 99%;
	margin: 0px auto 0px auto;
}
#menuWrapper {
	margin-left: 10px;
}
#menuWrapper ul {
	padding: 0px 0px;

}
#menuWrapper ul li {
	list-style-type: none;
	float: left;
	margin-right: 10px;
}
